/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: rgb(252, 253, 253);
}

body {
  color: #555;
  font-size: 1rem;
  line-height: 1.5rem;

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*
 * .phenomic-HeadingAnchor
 *
 * anchors for markdown headings, generated via markdown renderer, so require
 * global styling
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

.phenomic-HeadingAnchor {
  display: inline-block;
  text-align: center;
  margin-left: -1.8rem;
  margin-right: 0.4rem;
  width: 1.4rem;
  line-height: 1.4rem;
  text-decoration: none;
  opacity: 0.1;
  transition: opacity 0.2s
}

h1:hover .phenomic-HeadingAnchor,
h2:hover .phenomic-HeadingAnchor,
h3:hover .phenomic-HeadingAnchor,
h4:hover .phenomic-HeadingAnchor,
h5:hover .phenomic-HeadingAnchor,
h6:hover .phenomic-HeadingAnchor { opacity: 1; }

/* minimal styling, prefer removing this and use local styles */
a {
  color: inherit;
  text-decoration: none
}
a:hover { text-decoration: underline; }

hr {
  border: 0;
  height: 1px;
  background: #8C8D91;
  opacity: 0.2;
  margin: 2rem 0;
}

/* text styling (a la bootstrap) */
.small {
  font-size: 85%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777;
}

/* image styling (a la bootstrap) */
img {
  vertical-align: middle;
}

.img-rounded {
  border: 1px solid #ddd;
  border-radius: 6px;
}

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}

/* button styling (a la bootstrap) */
.btn {
  background: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  margin: 0;
  overflow: visible;
  padding: 7px 16px;
  text-align: center;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -ms-user-select: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  outline: 0;
  text-decoration: none;
}

.btn-default {
  background-color: #fbfcfc;
  border: 1px solid #555 !important;
  color: #555 !important;
}

.btn-default:hover {
  background-color: #555;
  color: #fbfcfc !important;
}
/**
 * You can try all official Highlight.js theme here
 *
 * https://highlightjs.org/static/demo/
 *
 * More themes here
 *
 * https://github.com/isagalaev/highlight.js/tree/master/src/styles
 */

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/

[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
  box-sizing: border-box;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 20px; /* column-space */
}

[class*='col-'] [class*='col-']:last-child {
  padding-right: 0;
}

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
  margin: 0 auto;
  overflow: hidden;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid-pad {
  padding-top: 20px;
  padding-left: 20px; /* grid-space to left */
  padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
  float: right;
}

/* Content Columns */

.col-1-1 {
  width: 100%;
}
.col-2-3, .col-8-12 {
  width: 66.66%;
}

.col-1-2, .col-6-12 {
  width: 50%;
}

.col-1-3, .col-4-12 {
  width: 33.33%;
}

.col-1-4, .col-3-12 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-1-6, .col-2-12 {
  width: 16.667%;
}

.col-1-7 {
  width: 14.28%;
}

.col-1-8 {
  width: 12.5%;
}

.col-1-9 {
  width: 11.1%;
}

.col-1-10 {
  width: 10%;
}

.col-1-11 {
  width: 9.09%;
}

.col-1-12 {
  width: 8.33%
}

/* Layout Columns */

.col-11-12 {
  width: 91.66%
}

.col-10-12 {
  width: 83.333%;
}

.col-9-12 {
  width: 75%;
}

.col-5-12 {
  width: 41.66%;
}

.col-7-12 {
  width: 58.33%
}

/* Pushing blocks */

.push-2-3, .push-8-12 {
  margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
  margin-left: 50%;
}

.push-1-3, .push-4-12 {
  margin-left: 33.33%;
}

.push-1-4, .push-3-12 {
  margin-left: 25%;
}

.push-1-5 {
  margin-left: 20%;
}

.push-1-6, .push-2-12 {
  margin-left: 16.667%;
}

.push-1-7 {
  margin-left: 14.28%;
}

.push-1-8 {
  margin-left: 12.5%;
}

.push-1-9 {
  margin-left: 11.1%;
}

.push-1-10 {
  margin-left: 10%;
}

.push-1-11 {
  margin-left: 9.09%;
}

.push-1-12 {
  margin-left: 8.33%
}

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    /* padding-left: 20px; */ /* grid-space to left */
    /* padding-right: 10px; */ /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
  }

  [class*='col-'] {
    width: auto;
    float: none;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px; /* column-space */
  }

  [class*='col-'] [class*='col-'] {
    padding-right: 0;
  }

  /* Mobile Layout */

  [class*='mobile-col-'] {
    float: left;
    margin: 0 0 10px;
    padding-left: 0;
    padding-right: 10px; /* column-space */
    padding-bottom: 0;
  }

  .mobile-col-1-1 {
    width: 100%;
  }
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%;
  }

  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%;
  }

  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%;
  }

  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%;
  }

  .mobile-col-1-5 {
    width: 20%;
  }

  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%;
  }

  .mobile-col-1-7 {
    width: 14.28%;
  }

  .mobile-col-1-8 {
    width: 12.5%;
  }

  .mobile-col-1-9 {
    width: 11.1%;
  }

  .mobile-col-1-10 {
    width: 10%;
  }

  .mobile-col-1-11 {
    width: 9.09%;
  }

  .mobile-col-1-12 {
    width: 8.33%
  }

  /* Layout Columns */

  .mobile-col-11-12 {
    width: 91.66%
  }

  .mobile-col-10-12 {
    width: 83.333%;
  }

  .mobile-col-9-12 {
    width: 75%;
  }

  .mobile-col-5-12 {
    width: 41.66%;
  }

  .mobile-col-7-12 {
    width: 58.33%
  }

  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
}
._1RdlK {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
._2FSyU {
  position: absolute;
  /* stretch */
  left: 0;
  right: 0;

  color: #FBFCFC;
}

._3LSR3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 61rem;
  margin: 0 auto;
  padding: 0;
  line-height: 3rem;
}

._3AJay,
._3X6jh {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.UWcAH {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 0.5rem;
  color: inherit;
  text-decoration: none !important;
  opacity: 0.6;
  transition: 0.4s all;
  border-bottom: 1px solid transparent
}

.UWcAH:hover,
  .UWcAH:focus {
  color: inherit;
  opacity: 1;
  border-bottom-color: #FBFCFC;
}

.UWcAH svg {
  fill: currentColor;
  opacity: 0.5;
  margin-right: 0.5rem;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
._3SQKJ {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-direction: column;
      flex-direction: column;
}
._1BvTd {
  text-align: center;
}

._1a1P_ {
  font-size: 0.75rem;
  opacity: 0.6;
  color: inherit;
  text-decoration: none;
}

._2b3UD {
  font-weight: 100;
}
._2iwpL {
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 1rem;
  line-height: 2rem;
  font-weight: 100;
  text-align: center;
  border-radius: 3px;

  transition: .2s all;

  color: #808B8A;
  border: 1px solid #808B8A;
  background: rgba(251, 252, 252, 0.2)
}

._2iwpL:hover {
  text-decoration: none;
  color: #394648;
  border: 1px solid #394648
}

.Wg0EN {
  color: #46BE77;
  border: 1px solid #46BE77
}

.Wg0EN:hover {
  color: #22846C;
  border: 1px solid #22846C
}

.wmr4p {
  color: #FBFCFC;
  border: 1px solid #FBFCFC
}

.wmr4p:hover {
  color: #FBFCFC;
  border: 1px solid #FBFCFC;
  background: rgba(251, 252, 252, 0.3)
}


.lsbJJ {
  font-size: 1.5rem;
  padding: 0 2rem;
  line-height: 3rem;
}
._3n25P {
  display: -ms-flexbox;
  display: flex;
  height: 25vh;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

._2b6ZD {
  height: 5vh;
  min-height: 5rem;
  width: 5vh;
  min-width: 5rem;
  border: 6px solid rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  animation: _1bXv_ 0.6s infinite linear 0.25s;

  /* the opacity is used to lazyload the spinner, see animation delay */
  opacity: 0;
}

@keyframes _1bXv_ {
  from {
    opacity: 1;
    transform: rotate(0);
  }

  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}
._1V853 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

._15_CA {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  max-width: 60rem;
  padding: 1rem 0.75rem;
}

._3dOrW {
  /* fallback, mainly visible when hero image is loading */
  background-color: #46BE77;
  /* fallback when there is no hero image */
  background: radial-gradient(
      ellipse at 50% 50%,
      rgb(108, 203, 148) 15%,
      #46BE77 70%
    );
}

._3kNGo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 5rem 0;
  padding: 10vh 0;
  text-align: center;
  background: linear-gradient(
    to bottom,
    #394648,
    rgba(128, 139, 138, 0.2)
  );
}

._3kNGo a {
  text-decoration: none;
}

._2wBO_ {
  color: #FBFCFC;
  text-shadow: 0 0 10px #394648,
    0 0 6px #111,
    0 0 2px #111;
  letter-spacing: 1px;
  line-height: 1.3em;
}

._1dqlm {
  margin-top: 2rem;
}

._1yRWU {
  margin: 1rem 0;
}

._2iPjb {

  /* handy for content */
}

._2iPjb a {
  color: #808B8A;
  transition: all 0.2s;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

._2iPjb a:hover {
  opacity: 1;
  color: rgb(114, 126, 125);
  border-bottom-color: #808B8A;
}

._2iPjb img {
  max-width: 100%;
}
.EEyOS {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  min-height: 50vh;
  padding: 1rem 0;
}

.m6cOu {
  font-size: 4rem;
  line-height: 4rem;
  color: #ddd;
}

._9BNrl {
  margin: 4rem 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}
.cTqJo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem 0;
}

._2zasl {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.2rem;
  font-weight: 900;
}

._1lRdo {
  font-size: 0.75rem;
  opacity: 0.6;
}

._2gmoH {
  font-size: 0.85rem;
}

._2TyE4 {
  /* align-self: center; */
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: 0 !important;
  text-decoration: none !important;
}
._2p_La {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  list-style: none;
  padding: 0;
}
._3WIUg {
  text-align: center;
}
._1KeKU {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  opacity: 0.6;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
